extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/productCard.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head('Danh sách sản phẩm')

        .row
            each item in products
                .col-xl-4.col-md-6.col-sm-12.mb-3
                    +productCard(
                        image1=item.thumbnail,
                        image2=item.thumbnail,
                        name=item.title,
                        price=(item.price - (item.price * (item.discountPercentage / 100))).toFixed(2) + ' vnđ',
                        sale=(item.discountPercentage > 0 ? '-' + item.discountPercentage + '%' : ''),
                        originalPrice=item.price + ' vnđ',
                        colors=[
                            { src: item.thumbnail[0], alt: 'Color 1', color: 'color1' },
                            { src: item.thumbnail[1], alt: 'Color 2', color: 'color2' },
                            { src: item.thumbnail[2], alt: 'Color 3', color: 'color3' }
                        ]
                    )
